[submodule "bison"]
	path = bison
	url = https://git.merproject.org/mirror/bison.git
[submodule "gnulib"]
	path = gnulib
	url = https://git.merproject.org/mirror/gnulib.git
[submodule "autoconf"]
	path = autoconf
	url = https://git.merproject.org/mirror/autoconf.git
