[submodule "bison"]
	path = bison
	url = https://github.com/sailfishos-mirror/bison.git
[submodule "gnulib"]
	path = gnulib
	url = https://github.com/sailfishos-mirror/gnulib.git
[submodule "autoconf"]
	path = autoconf
	url = https://github.com/sailfishos-mirror/autoconf.git
